footer { background-color: #aaa;}

h1,h2 {font-family: 'Alfa Slab One', cursive;
    }

.hero {
    background: url(../images/eye-hero2.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color:floralwhite;
}
.lista-novedades {
    background: rgb(207, 35, 179);
    margin: 0;
    padding: 0;
    list-style: none;
}
.lista-novedades li {
    margin:   4px 0;
}
.lista-novedades li a {
    background-color: orange;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 1.0rem ;
    color: palegreen;
    transition: all .2s ease-in-out;
    display: block;
}
.lista-novedades li a:hover {
    color: purple;
    background-color: salmon ;
}

.testimonios{
    background-color: #dadada; 
    padding-bottom: 4rem !important; 
 }
 
 .testimonio{
     text-align: center;
     padding: 50px 20px;
 }
 
 
 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     background-image: none;
 }
 
 .carousel-control-prev-icon:after,
 .carousel-control-next-icon:after {
     font-family: "FontAwesome";
     font-size: 30px;
     color: #000;
 }
 
 .carousel-control-prev-icon:after {
     content: "\f137";
 }
 
 .carousel-control-next-icon:after {
     content: "\f138";
 }
 
 .carousel-indicators li {
     background-color: #000;
 }
 
 .fotohistoria {
    height: fit-content;
}


 .staff {
     background: #efefef;
 }
 
 footer{
     background-color: #aaa;
 }
 
 